<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ajout_categorie</servlet-name>
        <servlet-class>Controlleur.ajout_categorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifier_categorie</servlet-name>
        <servlet-class>Controlleur.modifier_categorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supprimer_categorie</servlet-name>
        <servlet-class>Controlleur.supprimer_categorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supprimer_client</servlet-name>
        <servlet-class>Controlleur.supprimer_client</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajouter_produit</servlet-name>
        <servlet-class>Controlleur.ajouter_produit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>valider_cmd</servlet-name>
        <servlet-class>Controlleur.valider_cmd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifier_produit</servlet-name>
        <servlet-class>Controlleur.modifier_produit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supprimer_produit</servlet-name>
        <servlet-class>Controlleur.supprimer_produit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajout_categorie</servlet-name>
        <url-pattern>/ajout_categorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifier_categorie</servlet-name>
        <url-pattern>/modifier_categorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supprimer_categorie</servlet-name>
        <url-pattern>/supprimer_categorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supprimer_client</servlet-name>
        <url-pattern>/supprimer_client</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajouter_produit</servlet-name>
        <url-pattern>/ajouter_produit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>valider_cmd</servlet-name>
        <url-pattern>/valider_cmd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifier_produit</servlet-name>
        <url-pattern>/modifier_produit</url-pattern>
    </servlet-mapping>
    <!--
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    -->
    <servlet-mapping>
        <servlet-name>supprimer_produit</servlet-name>
        <url-pattern>/supprimer_produit</url-pattern>
    </servlet-mapping>
</web-app>
